---
import NewsCard from '@/components/NewsCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentNews } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

const news = await getRecentNews(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="flex items-start p-6 pb-0 relative">
        <div class="flex flex-col space-y-1.5">
          <h3 class="text-2xl min-[400px]:text-3xl leading-none font-medium mb-4">Carter Opperman</h3>
          <div class="flex items-center space-x-1.5">
            <Icon name="lucide:mail" class="size-4"/>
            <Link href="mailto:carter@carteropperman.com" class="text-muted-foreground text-sm font-medium" underline>Personal</Link>
            <Icon name="lucide:mail" class="size-4 ml-2"/>
            <Link href="mailto:carter.opperman@virginia.edu" class="text-muted-foreground text-sm font-medium" underline>Academic</Link>
          </div>
          <div class="flex items-center space-x-1.5">
            <Icon name="lucide:github" class="size-4"/>
            <Link href="https://github.com/caeyo" class="text-muted-foreground text-sm font-medium" external underline>GitHub</Link>
            <Icon name="lucide:linkedin" class="size-4 ml-2"/>
            <Link href="https://www.linkedin.com/in/carter-opperman/" class="text-muted-foreground text-sm font-medium" external underline>LinkedIn</Link>
          </div>
          <div class="flex items-center space-x-1.5" >
            <Icon name="lucide:map-pin" class="size-4"/>
            <span class="text-muted-foreground text-sm font-medium">Charlottesville, VA</span>
            <Icon name="lucide:map-pin-house" class="size-4 ml-2"/>
            <span class="text-muted-foreground text-sm font-medium">Sydney, Australia</span>
          </div>
        </div>
        <img
          src="/headshot.jpg"
          alt="Carter Opperman"
          class="w-16 h-16 min-[425px]:w-20 min-[425px]:h-20 min-[500px]:w-30 min-[500px]:h-30 rounded-full object-cover border absolute right-6 top-6"
        />
      </div>
      <div class="p-6 pt-0">
        <p class="text-muted-foreground mt-6 mb-2 text-sm">
          I am a fourth-year student at the University of Virginia, completing a B.A. in Computer Science and Economics in May 2026.
        </p>
        <p class="text-muted-foreground mb-2 text-sm">
          My career interests lie in software analysis and verification, optimization, and compiler design, particularly for machine learning applications.
          I explore these interests through <Link href="/research" class="text-foreground" underline>research</Link> in the 
          <Link href="https://less-lab-uva.github.io/" class="text-foreground" external underline>UVA LESS Lab</Link> under 
          <Link href="https://wenxiwang.github.io/group.html" class="text-foreground" external underline>Prof. Wenxi Wang</Link>, and my
          <Link href="/projects" class="text-foreground" underline>projects</Link>. 
        </p>
        <p class="text-muted-foreground mb-2 text-sm">
          My personal interests are a little more lively: I enjoy basketball, running, the beach and the surf, short fiction, sound design, skiing, music, and cooking.
        </p>
        <p class="text-muted-foreground mb-2 text-sm">
          I am always searching for opportunities in novel domains that challenge me to break apart complex, dynamic problems.
          I am also always searching for a good chat and a chance to learn more from others.
          Please feel free to reach out!
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Recent News</h2>
    <ul class="flex flex-col gap-y-4">
      {
        news.map((post) => (
          <li>
            <NewsCard news={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/news"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all news <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
