---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import NewsCard from '@/components/NewsCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllNews } from '@/lib/data-utils'

const news = await getAllNews()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="News" />
  <Breadcrumbs items={[{ label: 'News', icon: 'lucide:newspaper' }]} />

  <section>
    <div class="min-w-full">
      <h2 class="mb-4 text-2xl font-medium">News</h2>
      <div class="flex flex-col gap-4">
        {news.map((thenews) => <NewsCard news={thenews} />)}
      </div>
    </div>
  </section>
</Layout>
